.page-body{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
  }
}