.auth-button{
  // border: 1px solid #ddd;
  border: none;
  outline: none;
  background-color: #0073b1;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  min-width: 260px;
  width: 30vw;
  max-width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  font-size: 1.1rem;

  .auth-icon{
    height: 24px;
    margin-right: 16px;
  }

  .auth-text{
    margin: 0 auto;
  }

  &:hover{
    transform: scale(1.03);
  }

}